deploy/*.local.yaml
deploy/*.env
dist/test/
dist/scripts/
dist/aag-heart-adapter*
dist/knot-heart-adapter*
heart-adapter/aag-heart-adapter*
heart-adapter/knot-heart-adapter*
heart-adapter/heart-adapter
*.tgz
